html
{
    background: linear-gradient(#2193b0, #6dd5ed);
    background-repeat: no-repeat;
    background-size: auto;
}

h1
{
    size: 100px;
    text-align: center;
}

body
{
    margin: 0;
    margin-bottom: 10rem;
}

#wrapper 
{ 
	display: flex; 
	justify-content: center; /* center horizontally */ 
	align-items: center; /* center vertically */ 
} 

#head
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Girassol', cursive;
    font-size: 4rem;
}

#mine
{
    height: 80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#rules
{
    margin-top: 2.5rem;
    text-align: center;
}